* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #E7DCD8;
  color: #765B46;
}
.homeContent {
  padding: 100px 0;
  height: 100vh;
  text-align: center;
  background-image: url('./img/kitchen.svg');
}
.homeContent h1 {
  color: #80634D;
font-family: Kranky;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 5.4px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.homeContent button {
  margin-top: 40px;
  width: 340px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #F4F3F1;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #80634D;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Koh Santepheap;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}
.homeContent button:hover {
  background: #eae6de;
  cursor: pointer;
}

.homeElements {
  margin: auto;
}


